* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  background-color: rgb(249, 249, 249);
  background-image: url(./assets/c.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 0px;
  align-items: center;
}
audio {
  width: 100%;
  position: absolute;
  bottom: 0%;
  background-color: rgba(75, 228, 228, 0);
}

audio::-webkit-media-controls-panel {
  /* Cambia el color de fondo */
  border-radius: 0; /* Elimina el border-radius del fondo */
}

p {
  font-size: 10px;
  font-family: monospace;
  margin-top: -20px;
  z-index: 1;
}

audio::-webkit-media-controls-panel {
  background-color: #f9f9f9; /* Cambia el color de fondo */
  color: #f9f9f9; /* Cambia el color del texto */
  fill: #ffffff; /* Cambia el color de los iconos */
  background-image: url(./assets/c.jpg);
  border-radius: 0px;
}

main img {
  /* Estilos iniciales */
  width: 150px;
  height: 555px;
  object-fit: cover;
  border-radius: 360px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition-duration: 0.8s; /* Agregar una duración de transición por defecto */
  transition-timing-function: ease-out; /* Agregar una función de temporización por defecto */
  animation-name: hover-animation;
  animation-duration: 3.2s; /* Duración total de la animación */
  animation-iteration-count: infinite; /* Repetición infinita */
  animation-direction: alternate; /* Alternar la dirección de la animación */
}

@keyframes hover-animation {
  0% {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1) translateY(0); /* Escala y posición inicial */
  }
  50% {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.05) translateY(-10px); /* Escala y posición durante la animación (hacia arriba) */
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1) translateY(0); /* Escala y posición final (vuelve a la posición original) */
    width: 170px;
    border-radius: 100px;
  }
}

.fatty {
  width: 650px;
  object-fit: cover;
}

.loader {
  z-index: 20;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  z-index: 20;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  z-index: 20;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    z-index: 20;
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.megastyled {
  background-image: none;
  background-image: url(/assets/e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonContainer {
  width: 100%;
  height: 8vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer button {
  margin-top: 20px;
  background-color: rgba(249, 112, 32, 0);
  height: 40px;
  width: 80px;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  animation: ease-in-out;
}

.buttonContainer button:hover {
  background-color: rgba(48, 28, 16, 0.048);
  color: rgba(184, 9, 146, 0.699);
  cursor: pointer;
  transition-duration: 0.5s;
}


